<div class="container">

<div class="logo">
  <img src="../assets/logo.png" alt="">
</div>


<ion-icon name="arrow-back" id="arrow-left"></ion-icon>


<div class="titre">
<h1>Bienvenue sur <span>Masjid</span></h1>
</div>

<!-- le formulaire d'inscription  -->
<div class="formctn">
<form>
  <input type="text" placeholder="Nom d'utilisateur" class="ipt">

  <input type="text" placeholder="Email" class="ipt">

  <input type="text" placeholder="Mot de passe" class="ipt">

  <input type="text" placeholder="Confirmer votre mot de passe" class="ipt">
<br>
  <button>S'inscrire</button>
</form>
</div>
<FOoter>
  <P>Se connecter avec</P>
  <ion-icon name="logo-google" style="width: 20px;"></ion-icon>
  <ion-icon name="logo-facebook" style="width: 20px;"></ion-icon>
  <ion-icon name="logo-apple" style="width: 20px;"></ion-icon>
</FOoter>
</div>
