<app-navbar></app-navbar>   


<div class="container">
  <div class="row">
    <div class="col">
      <img src="../../../assets/img/Group 3 (1).png" alt="" height="490" width="550"
      style="margin-bottom: 30px;">
    </div>
    <div class="col">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
       <button type="submit" class="btn btn-success" routerLink="/panel">Accéder</button>
      </form>
    </div>
    </div>
</div>
 