.container{
  width: 96%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #008000;
  }

  .container ion-card {
    flex: 1 1 28%;
    background-size: cover;
    height: 110px;
    margin: 10px 5px;
    text-align: center;
  }
  .card-custom{
    padding: 5px;
    /* box-shadow: 0px 0; */
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 10px;
  }
  .parallax-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 16vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: #FFF;
    border-radius: 0px 0px 40px 40px;
    background-color: #2C6632;
    padding: 20px;
  }
  ion-card-content h2{
    font-weight: bold;
    color: #000;

  }
  .player-card{
    height: 280px;
    width: 280px;
    padding: 10px 20px;
    background-size: cover;
    box-shadow: none;
    background-position-x: center;

  }
  .container ion-card{
    height: initial;
    border-radius: 30px;
    border: 1px solid #ddd;
    margin: 5px;
    box-shadow: none;
  }
  ion-card .text{
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
  }
 .frequence{
    text-decoration: none;
    color: #008000;
  }
  .card-content-ios p {
    font-size: 30px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 30px;
}
.thumb ion-thumbnail{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
.thumb ion-thumbnail img{
    border-radius: 50%;
}

h2,h4{

  margin-bottom: 0px;
}
h4{

margin-top: 8px;
}
.container p{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.controls ion-icon{
  width: 50px;
  height: 50px;
  background-color: #2C6632;
  border-radius: 50%;
  color: #FFF;
  padding: 5px;
}
.controls .play{
  width: 80px;
  height: 80px;
  align-content: center;
}
.controls ion-icon .icon-inner{
  width: 60%;
  height: 60%;
}
ion-range{
  width: 90%;
}
