<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Faire un dons</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="parallax-img" [style.background-image]="'url(../../assets/illustrations/mosquee.jpg)'">  
      <div class="op">
         <h1>Faire un dons</h1>
      </div>     
    </div>
      <div class="container">
        <div class="description">
          <p>
            Pour effectuer un don veillez contactez le numero de la mosquée
          </p>
          
            <h1><ion-icon size="large" name="phone-portrait-outline"></ion-icon>&nbsp;<span>+223 70 89 00 76</span></h1>
         
        </div>
          
      </div>
</ion-content>
