<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>99 Nons d'ALLAH</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="parallax-img" [style.background-image]="'url(../../assets/illustrations/99.jpg)'">  
   <h1>99 noms d'Allah</h1>
  </div>
      <div class="container">
        <ion-card *ngFor="let name of names" (click)="presentModal(name)">
          <ion-card-content class="names">
            <h2>{{name.name}}</h2>
            <h2>{{name.transliteration}}</h2>
            <h4>{{name.fr.meaning}}</h4>
          </ion-card-content>
        </ion-card>
      </div>
</ion-content>
