.container{
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin: auto;
  }

  .container ion-card {
    flex: 1 1 28%;
    background-size: cover;
    height: 110px;
    margin: 10px 5px;
    text-align: center;
  }
  .card-custom{
    padding: 5px;
    /* box-shadow: 0px 0; */
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 10px;
  }
  .parallax-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;;
    color: #FFF;
    border-radius: 0px 0px 40px 40px;
  }
  ion-card-content h2{
    font-weight: bold;
    color: #000;
    margin: 0px;
  }
  .names{
    h2{
      font-size: 12px;
    }
    h4{
      font-size: 10px;
    }
  }