<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="head">
        <div class="align">
          <div class="go-back">
            <ion-icon name="arrow-back-circle-outline" size="large" class="green" routerLink="/list-mosquee"></ion-icon>
          </div>
          <ion-searchbar placeholder="Rechercher" inputmode="search"></ion-searchbar>
          <!--<div class="add">
            <ion-icon name="add-circle-outline" size="large" (click)="openModal()" class="green"></ion-icon>
          </div>-->
        </div>
        <img src="../../../assets/img/gprogram.png" alt="" srcset="">
      </div>
      <table class="table" style="margin-top: 30px;">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Photo</th>
      <th scope="col">Nom de la mosquéé</th>
      <th scope="col">Nom de l'imam</th>
      <th scope="col">N°de Don</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><img src="../../../assets/illustrations/mosquee.jpg" style="height: 36px;width: 36px; border-radius: 50px;" alt=""></td>
      <td>Grande mosquée de Bamako</td>
      <td>Kokè Kallé</td>
      <td>77 63 44 90</td>
      <td><a routerLink="/admin-program-list"><button>Programmes</button></a></td>
    </tr>

  </tbody>
</table>
    </div>

  </div>

</div>
