<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Radio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="parallax-img" [style.background-image]="'url(../../assets/illustrations/radio.jpg)'">
   <h1>Radios</h1>
  </div>
      <div class="container">
        <ion-card *ngFor="let radio of radios">
          <ion-card-content class="radio-card">
            <div class="thumb">
              <ion-thumbnail>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
            </div>
            <div class="text">
                <h2>{{radio.name}}</h2>
                <p>{{radio.city}}, Mali</p>
            </div>
           <a class="frequence" href="#">{{radio.frequency}} FM</a>
          </ion-card-content>
        </ion-card>
      </div>
</ion-content>
