<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col">
      <img class="" src="../../../assets/img/Group 3 (1).png" alt="" height="490" width="550"
      style="margin-bottom: 30px;">
    </div>
    <div class="col">
      <a routerLink="/list-mosquee">
        <div class="card" style="width: 10rem; border: none; float: left; margin-right: 20px; cursor: pointer;">
        <img class="card-img-top" src="../../../assets/img/mosquee.png" alt="Card image cap">

      </div></a>
      <a routerLink="/admin-annonce">
        <div class="card" style="width: 10rem; border: none; float: left; margin-right: 20px; cursor: pointer;">
          <img class="card-img-top" src="../../../assets/img/annonce.png" alt="Card image cap">

        </div>
      </a>

    <a routerLink="/admin-page">
      <div class="card" style="width: 10rem; border: none; float: left; margin-top: 10px; cursor: pointer;">
        <img class="card-img-top" src="../../../assets/img/admin.png" alt="Card image cap">

      </div>
    </a>







    </div>
    </div>
</div>
