<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="head">
        <div class="align">
          <div class="go-back">
            <ion-icon name="arrow-back-circle-outline" size="large" class="green" routerLink="/list-mosquee"></ion-icon>
          </div>
          <ion-searchbar placeholder="Rechercher" inputmode="search"></ion-searchbar>
          <div class="add">
            <ion-icon name="add-circle-outline" size="large" (click)="openModal()" class="green"></ion-icon>
          </div>
        </div>
        <img src="../../../assets/img/listgprogram.png" alt="" srcset="">
      </div>
      <h2 style="text-align: center; color: #2C6632">{{mosque?.name}}</h2>
      <table class="table" style="margin-top: 30px;">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Titre</th>
      <th scope="col">Organisateur</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let programme of programmes let i = index">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{programme.title}}</td>
    <td>{{programme.organizer}}</td>
    <td>{{programme.daysTimes}}</td>
    <td>
      <ion-icon name="create-outline" (click)="openModalWithUpdateMode(programme)" style="color:#2C6632;">
      </ion-icon><ion-icon name="trash-outline" style="color: red;" (click)="deleteProgram(mosque?.id!, programme.id)"></ion-icon>
    </td>
  </tr>

  </tbody>
</table>
    </div>

  </div>

</div>
