<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <a routerLink="/admin-program"><ion-icon id="back" style="color: #2C6632; vertical-align: middle; font-size: 40px;" name="arrow-back-circle-outline"></ion-icon></a><input type="text" placeholder="Recherchez une mosquée" style="border-radius: 20px; padding-left: 50px; padding-right: 50px;">
      <i><img src="../../../assets/img/plus.png" alt="" height="32px" width="32px" style="margin-left: 10px; cursor: pointer;"></i>
      <img src="../../../assets/img/listgprogram.png" alt="" srcset="">   
      
      <table class="table" style="margin-top: 30px;">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Photo</th>
      <th scope="col">Titre</th>
      <th scope="col">Lieu</th>
      <th scope="col">Heure</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><img src="../../../assets/illustrations/mosquee.jpg" style="height: 36px;width: 36px; border-radius: 50px;" alt=""></td>
      <td>Lecture de Coran</td>
      <td>08/09/2023</td>
      <td>16H00</td>
      <td><ion-icon class="edit" name="create-outline"  style="color:#2C6632;">
      </ion-icon><ion-icon class="edit" name="trash-outline" style="color: red;"></ion-icon></td>
    </tr>
    
  </tbody>
</table>
    </div>
 
  </div>
  
</div>