.container{
    width: 96%;
    margin: auto;
    margin-top: 25px;
  }

  .container ion-card {
    flex: 1 1 28%;
    background-size: cover;
    height: 110px;
    margin: 10px 5px;
    text-align: center;
  }
  .card-custom{
    padding: 5px;
    /* box-shadow: 0px 0; */
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 10px;
  }
  .parallax-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;;
    color: #FFF;
    border-radius: 0px 0px 40px 40px;
    background-color: #2C6632;
    position: relative;
  }
  .op{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0px 0px 40px 40px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  ion-card-content h2{
    font-weight: bold;
    color: #000;
    
  }
  .radio-card{
    position: absolute;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
  }
  .container ion-card{
    height: 104px;
    border-radius: 30px;
    border: 1px solid #ddd;
    background-size: cover;
  }
  ion-card .text{
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
  }
 .frequence{
    text-decoration: none;
    color: #008000;
  }
  .card-content-ios p {
    font-size: 20px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    color: #fff;
    font-weight: bold;
}
.thumb ion-thumbnail{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
.thumb ion-thumbnail img{
    border-radius: 50%;
}

ion-fab-button {
  --background: #2C6632
}