<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{mosque?.name | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="parallax-img" [style.background-image]="'url(../../assets/illustrations/mosquee.jpg)'">
      <div class="op">
         <h1 class="mosque-title">{{mosque?.name | uppercase}}</h1>
      </div>
    </div>
      <div class="container">
        <ion-card [routerLink]="['/infos-horaires', mosque?.id]" [style.background-image]="'url(../../assets/illustrations/mosquee.jpg)'">
          <ion-card-content class="radio-card">
                <p>Infos & Horaires</p>
          </ion-card-content>
        </ion-card>
        <ion-card routerLink="/list-programmes" [style.background-image]="'url(../../assets/illustrations/mosquee.jpg)'">
          <ion-card-content class="radio-card">
                <p>Programmes</p>
          </ion-card-content>
        </ion-card>

        <ion-card routerLink="/mosquee-details" [style.background-image]="'url(../../assets/illustrations/localisation.jpg)'">
          <ion-card-content class="radio-card">
                <p>Localisation</p>
          </ion-card-content>
        </ion-card>
        <ion-card routerLink="/dons" [style.background-image]="'url(../../assets/illustrations/localisation.jpg)'">
          <ion-card-content class="radio-card">
                <p>Faire un don</p>
          </ion-card-content>
        </ion-card>

      </div>
</ion-content>
