<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>
      Direction de la Qibla
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="map"></div>


      <!-- Centrez l'image verticalement et agrandissez-la -->
      <div style="display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 50%;">
        <img src="assets/qibla1.png" [style.transform]="'rotate(' + qiblaDirection + 'deg)'" alt="Boussole" style="width: 300px; height: 300px; margin: 0 auto;">
        <!-- Placez le texte en bas -->
        <p style="margin-top: 20px;">La direction de la Qibla par rapport a votre position : {{ qiblaDirection }} degrés.</p>
      </div>

</ion-content>
