
<div class="container">

<div class="logo">
  <img src="../assets/logo.png" alt="">
</div>

<h1>Masjid App</h1>

<div class="formcontainer">
  <h2>Login</h2>
<!-- le formulaire -->
  <form>
     
<input type="text" placeholder="Usernam" class="ipt">

<input type="text" placeholder="password" class="ipt">

<br>
  <button>Login</button>
  </form>
</div>

<footer>
<h3>Or Login whih</h3>
<div class="icon">
  <div class="carrer">
  <ion-icon name="logo-google" style="font-size: 30px;"></ion-icon>
</div>
<div class="carrer">
  <ion-icon name="logo-facebook" style="font-size: 30px; color: rgb(100, 82, 241);"></ion-icon>
</div>

<div class="carrer">
  <ion-icon name="logo-apple" style="font-size: 30px;"></ion-icon>
</div>


</div>

<!-- mot de passe oublier -->
<h4> Dont have any account ? <span>Register</span> </h4>
</footer>
</div>