.container{
    text-align: center;
    // margin-top: 50%;
  }
h1{
    color: #2C6632;
    text-align: center;
    font-family: Times New Roman;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.formcontainer{
margin: auto;
width: 326px;
height: 327px;
flex-shrink: 0;
border-radius: 30px;
background: rgba(253, 255, 253, 0.33);
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.42);

}

h2{
    color:  #48a251;
    font-size: 40px;
    font-weight: bold;
}
.ipt{
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 20PX;
    background-color: #7f747410;
}

button{
width: 40%;
height: 30px;
border-radius: 10px;
font-weight: bold;
}
h3{
    font-weight: bold;
    color: #48a251;
}
h4{
    font-weight: bold;
}
span{
    color: #48a251;
    
}