
<div class="container">

<div class="logo">
  <img src="../assets/logo.png" alt="">
</div>

<h1> Heureux de vous revoir!</h1>

<div class="formcontainer">
<!-- le formulaire -->
<form>
<input type="text" placeholder="Entrer votre email" class="ipt">

<input type="password" placeholder="Entrer votre mot de passe" class="ipt">

<br>
<p >Mot de passe oublié?</p>
  <button> Se connecter</button>
  </form>
</div>

<footer class="foot">
<h3> Se connecter avec</h3>
<div class="icon">
  <div class="carrer">
    <img src="../../assets/icon/facebook-f-logo-white-background-21.jpg" alt="" class="logo2" >
    <!-- <ion-icon name="logo-facebook" style="font-size: 30px ;color: rgb(100, 82, 241);"></ion-icon> -->
  </div>
  <div class="carrer">
    <img src="../../assets/icon/13948549-logo-google-sur-fond-blanc-transparent-gratuit-vectoriel.jpg" alt="" class="logo2">
  <!-- <ion-icon name="logo-google" style="color: rgb(157, 27, 7);font-size: 30px;"></ion-icon> -->
</div>


<div class="carrer">
  <ion-icon name="logo-apple" style="font-size: 30px;"></ion-icon>
</div>


</div>

<!-- mot de passe oublier -->
<h4> Vous n'avez pas de compte ? <span>Inscrivez vous</span> </h4>
</footer>
</div>
