#logo{
    transition: 0.3s all ease;
}
#logo:hover{
    transform: scale(1.1);
}

.nav-link{
    padding: 5px;
    justify-content: center;
    padding: 8px;
}

 .menu{
    background-color: #ffffff;
    border-radius: 20px;
    color:#2C6632;
    font-weight: 800;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.3s all ease-in-out;
}

.menu:hover{
    background-color: white;
    border-radius: 20px;
    
    padding-left: 30px;
    padding-right: 30px;

}


.menuCompte:hover{
    background-color: f53f26 ;
    border-radius: 20px;
    color: #2C6632;
    border: 2px solid #f53f26;
    padding-left: 20px;
    padding-right: 20px;
    
}
#navbarSupportedContent{
    margin-left: 65%;

}
li{
    margin-right: 20px;
}

.navbar{
    background-color: #2C6632;
}

i {
    margin-right: 10px;
}

.container-fluid{
    background-color: #2C6632;
}
nav {
    background-color: white;
}

.container-fluid{
    background-color: #2C6632;
}



