<div class="container">

<ion-icon name="arrow-back" id="arrow-left"></ion-icon>

<div class="corps">
<div class="text">
  <h1>Mot de passe oublier?</h1>

  <p>Ne t'inquiète pas!
     Ça arrive. Veuillez saisir l'adresse 
     e-mail liée à votre compte.</p>
    </div>

<div class="frm">
<form>
<input type="text" placeholder="Entrer votre mail" class="ipt">

<button>Renvoyer le code</button>
</form>
</div>

</div>

<footer>
<div class="logo">
  <img src="../assets/logo.png" alt="">
</div>
</footer>
</div>