<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Coran</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="parallax-img" [style.background-image]="'url(../../assets/illustrations/mosquee.jpg)'">  
   <h1>Coran</h1>
  </div>
      <div class="container">
        <ion-card *ngFor="let i of [].constructor(9)" routerLink="/p-player" >
          <ion-card-content class="radio-card">
            <div class="thumb">
              <ion-thumbnail>
                <img alt="Silhouette of mountains" src="../../assets/illustrations/goita.jpg"/>
                <span>1</span>
              </ion-thumbnail>
            </div>
            <div class="text">
              <span><ion-icon name="musical-notes-outline"></ion-icon></span>
              <h2>La prière de nuit</h2>
              <p>Durée : 50:45 min</p>
            </div>           
          </ion-card-content>
        </ion-card>
      </div>
</ion-content>
