.container{
text-align: center;
}

.en-tete {
    width: 408px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 0px 0px 50px 50px;
    background: #2C6632;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15%;
  }

.mi{
    margin-top: 20%;
}

.logo {
    position: absolute;
     /* Ajustez cette valeur selon vos besoins */
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    bottom: 10%;
  }
  h1{
    // width: 338px;
    // height: 49px;
    color:  #1E232C;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 39px */
    letter-spacing: -0.3px;
    margin-top: 30%;
    
}
input{
    width: 330px;
   height: 56px;
   flex-shrink: 0;
   border-radius: 8px;
   border: 1px solid #0a6d0f;
   background: #F7F8F9;
   margin-bottom: 40px;
   }
   
   button{
   width: 330px;
   height: 56px;
   flex-shrink: 0;
   border-radius: 32px;
   background: #2C6632;
   color: var(--White, #FFF);
   text-align: center;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   }
P{
font-size: 20px;
}