<div class="container">
  <div class="en-tete">
  </div>

  <div class="logo">
    <img src="../assets/icon/logos.png" alt="">
  </div>
  <div style="margin-top: 50%;">
    <div class="centre">
      <h1>Créer un nouveau <br>mot de passe</h1>
      <p>Votre nouveau mot de passe doit être unique par rapport à ceux précédemment utilisés</p>
    </div>
    <!-- formulaire -->
    <form>
      <input type="text" placeholder="Nouveau mot de passe">
      <input type="text" placeholder="Confirmer le mot de passe">
      <!-- Ajoutez un bouton qui appelle la méthode forgotPassword() lorsque l'utilisateur clique -->
      <button>Changer de mot de passe</button>
    </form>
    <!-- (click)="forgotPassword('email') -->
  </div>
</div>
