<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mosquée</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="parallax-img" [style.background-image]="'url(../../assets/illustrations/mosquee.jpg)'">  
      <div class="op">
        <h1>Mosquées</h1>
      </div>
</div>
      <div class="container">
        <ion-card *ngFor="let i of [].constructor(9)">
          <ion-card-content class="radio-card">
            <div class="thumb">
              <ion-thumbnail>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
            </div>
            <div class="text">
                <h2 routerLink="/tabs/mosquee-details">La Grande Mosquée de Bamako</h2>
                <p></p>
            </div>
           
          </ion-card-content>
        </ion-card>
      </div>
      <ion-fab routerLink="/edit-mosquee" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
