.container {
    left: 0;
    right: 0;
    top: 15%;
    bottom: 0;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    contain: layout size style;
    overflow: hidden;
    z-index: 0;
    flex-direction: column;
}