<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <input type="text" placeholder="Recherchez une mosquée" style="border-radius: 20px; padding-left: 50px; padding-right: 50px;">
      <i><img src="../../../assets/img/plus.png" alt="" height="32px" width="32px" style="margin-left: 10px; cursor: pointer;"></i>
      <img src="../../../assets/img/gadmin.png" alt="" srcset="">  
      
      <table class="table" style="margin-top: 30px;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Photo</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><img src="../../../assets/img/jack.jpg" style="height: 36px;width: 36px; border-radius: 50px;" alt=""></td>
      <td>Jack Baueur</td>
      <td>jackbaueur@gmail.com</td>
      <td>77 63 44 90</td>
      <td><ion-icon name="create-outline"  style="color:#2C6632;">
      </ion-icon><ion-icon name="trash-outline" style="color: red;"></ion-icon></td>
    </tr>
    
  </tbody>
</table>
    </div>
 
  </div>
  
</div>