

<ion-content [fullscreen]="true">
  <div class="parallax-img" [style.background-image]="'url(../../assets/illustrations/mosquee.jpg)'">  
    <div class="op">
          <h1>04 : 04</h1>
          <h5>Fajr 3 hour 9 min left</h5>
    </div>

  </div>
  <!-- <ion-img src="../../assets/illustrations/home.jpg">
    
  </ion-img> -->
  <ion-card class="main-card">
    <div class="horaires">
      <div class="horaire">
        <span>Fadjr</span>
        <span>&#9728;</span>
        <span>05 : 30</span>
      </div>
      <div class="horaire">
        <span>Dohr</span>
        <span>&#9728;</span>
        <span>05 : 30</span>
      </div>
      <div class="horaire">
        <span>Asr</span>
        <span>&#9728;</span>
        <span>05 : 30</span>
      </div>
      <div class="horaire">
        <span>Maghreb</span>
        <span>&#9728;</span>
        <span>05 : 30</span>
      </div>
      <div class="horaire">
        <span>Icha</span>
        <span>&#9728;</span>
        <span>20 : 00</span>
      </div>
    </div>
      <div class="container">
        <ion-card routerLink="/tabs/mosquee"  [style.background-image]="'url(../../assets/illustrations/mosquee.jpg)'"
        class="ion-color ion-color-primary ios hydrated" color="primary">
         <ion-card-header>
           <ion-card-subtitle>Mosquée</ion-card-subtitle>
         </ion-card-header>
       </ion-card>
       <ion-card routerLink="/tabs/calendar"  [style.background-image]="'url(../../assets/illustrations/calendar.jpg)'"
       class="ion-color ion-color-primary ios hydrated" color="primary">
        <ion-card-header>
          <ion-card-subtitle>Calendrier</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card routerLink="/tabs/preche"  [style.background-image]="'url(../../assets/illustrations/preche.jpg)'"
      class="ion-color ion-color-primary ios hydrated" color="primary">
       <ion-card-header>
         <ion-card-subtitle>Prêches</ion-card-subtitle>
       </ion-card-header>
     </ion-card>
     <ion-card routerLink="/tabs/mosquee"  [style.background-image]="'url(../../assets/illustrations/localisation.jpg)'"
     class="ion-color ion-color-primary ios hydrated" color="primary">
      <ion-card-header>
        <ion-card-subtitle>A proximité</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card routerLink="/radio"  [style.background-image]="'url(../../assets/illustrations/radio.jpg)'"
    class="ion-color ion-color-primary ios hydrated" color="primary">
     <ion-card-header>
       <ion-card-subtitle>Radio</ion-card-subtitle>
     </ion-card-header>
   </ion-card>
   <ion-card routerLink="/mosquee"  [style.background-image]="'url(../../assets/illustrations/qibla.png)'"
   class="ion-color ion-color-primary ios hydrated" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Qibla</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="/annonces"  [style.background-image]="'url(../../assets/illustrations/annonces.jpg)'"
  class="ion-color ion-color-primary ios hydrated" color="primary">
   <ion-card-header>
     <ion-card-subtitle>Annonces</ion-card-subtitle>
   </ion-card-header>
 </ion-card>
 <ion-card routerLink="/coran"  [style.background-image]="'url(../../assets/illustrations/coran.jpg)'"
 class="ion-color ion-color-primary ios hydrated" color="primary">
  <ion-card-header>
    <ion-card-subtitle>Coran</ion-card-subtitle>
  </ion-card-header>
</ion-card>
<ion-card routerLink="/names"  [style.background-image]="'url(../../assets/illustrations/99.jpg)'"
class="ion-color ion-color-primary ios hydrated" color="primary">
 <ion-card-header>
   <ion-card-subtitle>99 Noms d'Allah</ion-card-subtitle>
 </ion-card-header>
</ion-card>
      </div>
  </ion-card>
<!-- <div class="container">
  <ion-card routerLink="/mosquee"  [style.background-image]="'url(../../assets/illustrations/mosquee.jpg)'"
   class="ion-color ion-color-primary ios hydrated" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Mosquée</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/mosquee"  [style.background-image]="'url(../../assets/illustrations/calendar.jpg)'"
  class="ion-color ion-color-primary ios hydrated" color="primary">
   <ion-card-header>
     <ion-card-subtitle>Calendrier</ion-card-subtitle>
   </ion-card-header>
 </ion-card>
 <ion-card routerLink="/mosquee"  [style.background-image]="'url(../../assets/illustrations/preche.jpg)'"
 class="ion-color ion-color-primary ios hydrated" color="primary">
  <ion-card-header>
    <ion-card-subtitle>Prêches</ion-card-subtitle>
  </ion-card-header>
</ion-card>
  <ion-card [style.background-image]="'url(../../assets/illustrations/home.jpg)'" *ngFor="let i of [1,2,3,4,5,6,7]" class="ion-color ion-color-primary ios hydrated" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
</div> -->
</ion-content>
