*, ::after, ::before {
  box-sizing: border-box;
}
.parallax-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.horaires{
    display: flex;
    justify-content: space-evenly;
    background: #ddd;
    margin: 10px;
    padding: 20px;
    border-radius: 30px 30px 0px 0px;
}
.horaire{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
.main-card{
  margin: 0;
  margin-top: -30px;
  border-radius: 40px 40px 0px 0px;
}
.container ion-card {
  flex: 1 1 28%;
  background-size: cover;
  height: 110px;
  margin: 10px 10px;
}
ion-card.mosquee{
  background-image: url('../../assets/illustrations/mosquee.jpg')
}
ion-card-header{
  position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0,0,0,0.7);
    padding: 5px 0px;
}