<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Annonces</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="parallax-img" [style.background-image]="'url(../../assets/illustrations/mosquee.jpg)'">  
      <div class="op">
         <h1>Annonces</h1>
      </div>     
    </div>
      <div class="container">
        <ion-card class="annonces">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title><h1>Emission Nour sur ORTM</h1></ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <div class="bottom">
              <span>Date : 06/09/2023</span>&nbsp;
              <span>Heure: 16H00</span>&nbsp;
              <span>Lieu : 26 Mars</span>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card class="annonces">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title><h1>Prêche générale organisé par An-Sardine</h1></ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <div class="bottom">
              <span>Date : 06/09/2023</span>&nbsp;
              <span>Heure: 16H00</span>&nbsp;
              <span>Lieu : 26 Mars</span>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
</ion-content>
