<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Annonces</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="parallax-img" [style.background-image]="'url(../../assets/illustrations/mosquee.jpg)'">
      <div class="op">
         <h1>Annonces</h1>
      </div>
    </div>
      <div class="container">
        <ion-card class="annonces" *ngFor="let announcement of announcements">
          <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          <img src="{{announcement.imageUrl}}" alt="" style=" border-radius: 5px;width: 100%; margin: 0;">
          <!-- <p>{{announcement.imageUrl}}</p> -->
          <ion-card-header>
            <ion-card-title><h1>{{announcement.title}}</h1></ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p class="description">{{announcement.description}}</p>
            <div class="bottom">
              <span>Date : {{announcement.date}}</span>&nbsp;
              <span>Heure: {{announcement.hour}}</span>&nbsp;
              <span>Lieu : {{announcement.place}}</span>
            </div>
          </ion-card-content>
        </ion-card>

      </div>
</ion-content>
